@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif; 
}

nav{
    background-image: url(../images/moving\ 1.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

nav > ul, li{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-top: 20px;
    padding-right: 55px;
}
nav > ul > li, a{
    color: #ffffff;
    text-decoration: none;
}
nav > ul > li > .loginBtn{
    background-color: #FFAC12;
    width: 50px;
    padding: 2px;
}
nav > ul > li > .registerBtn{
    background-color: #000000;
    color: #FAFF00;
    width: 70px;
}
nav > #header{
    margin: 30px;
    width: 50%;
}

nav > #header > h2{
    color: #FAFF00;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
}
nav > #header > p{
    padding-top: 10px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
}

nav > #header > h2, p{
    padding: 10px;
}
/*hustle section styling*/
.hustle{
    display: flex;
    margin-top: 30px;
}
.hustle > .left, .right{
    width: 50%;
}
.hustle > .left, img{
    height: 400px;
    width: auto;
}
.hustle > .right{
    margin: 100px 0px 0px 50px;
    width: 40%;
}
.hustle > .right h3{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.hustle > .right p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.hustle > .right button{
    margin-top: 40px;
    color: #FAFF00;
    background-color: black;
    border: none;
    padding: 12px 20px;
    border-top-right-radius: 12px;
}
/*movers section sytling*/
#sectMovers{
    background-color: rgb(233, 230, 230);
    padding: 50px 50px 30px 50px;
    margin-bottom: 40px;
    margin-top: 30px;
}
h2{
    font-size: 38px;
    margin: 0 0 100px 150px;
}
.container{
    width: 90%;
    margin-left: 150px;
    background: rgb(233, 230, 230);

}
.card{
    background: white;
    margin-bottom: 20px;
    border-radius: 10%;
    margin: 15px;
}

.row-1{
    display: flex;
}
.row-2{
    display: flex;
}
.container img{
    width: 300px;
    height: 250px;
   
}
div.desc {
    padding: 15px;
    text-align: left;
  }

  /*footer styling*/
  footer {
    background-color: rgb(31, 29, 29);
    color: white;
    padding: 20px 70px 20px 70px;
  }
  h2, h3, h4{
    font-weight: bold;
  }
  .head {
    font-size: 28px;
    margin: 50px 0 80px 10px;
  }
  .contactInfo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 50px 10px;
  }
  .contactInfo > .socials, i{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .contactInfo > .socials > li {
    margin-right: 20px;
  }
  .contactInfo > .column {
    display: flex;
    justify-content: space-between;
  }
  footer >.head {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  footer >.head > button {
    background-color: #FFAC12;
    margin: 0 60px;
    padding: 10px 20px;
    border-top-right-radius: 12px;
  }
  footer  a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }
  #column {
    padding: 0 0 0 50px;
  }
  .author p {
    text-align: center;
  }

  /*second page styling*/
  