
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-image: url(../images/moving\ 1.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

nav > ul, li{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-top: 20px;
    padding-right: 55px;
}
nav > ul > li, a{
    color: #ffffff;
    text-decoration: none;
}
nav > ul > li > .loginBtn{
    background-color: #ffff00;
    width: 50px;
    padding: 2px;
}
nav > ul > li > .registerBtn{
    background-color: #000000;
    color: #ffff00;
    width: 70px;
}
nav > #header{
    margin: 50px;
    width: 50%;
}

nav > #header > h2{
    color: #ffff00;
    font-size: 50px;
}
nav > #header > p{
    color: #ffffff;
    font-size: 40px;
}

nav > #header > h2, p{
    padding: 20px;
}
/*hustle section styling*/
#sectHustle, .hustle{
    display: flex;
    margin-top: 30px;
}

#sectHustle > .hustle,  .left, img{
    height: 400px;
    width: auto;
}
#sectHustle > .hustle,  .right{
    margin-left: 70px;
    padding-top: 80px;
}