@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-image: url(../images/moving\ 1.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

nav > ul, li{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-top: 20px;
    padding-right: 55px;
}
nav > ul > li, a{
    color: #ffffff;
    text-decoration: none;
}
nav > ul > li > .loginBtn{
    background-color: #FFAC12;
    width: 50px;
    padding: 2px;
}
nav > ul > li > .registerBtn{
    background-color: #000000;
    color: #FAFF00;
    width: 70px;
}
nav > #header{
    margin: 50px;
    width: 50%;
}

nav > #header > h2{
    color: #FAFF00;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}
nav > #header > p{
    color: #ffffff;
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
}

nav > #header > h2, p{
    padding: 20px;
}
/*hustle section styling*/
.hustle{
    display: flex;
    margin-top: 30px;
}
.hustle > .left, .right{
    width: 50%;
}
.hustle > .left, img{
    height: 400px;
    width: auto;
}
.hustle > .right{
    margin: 100px 0px 0px 50px;
    width: 40%;
}
.hustle > .right h3{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.hustle > .right p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.hustle > .right button{
    margin-top: 40px;
    color: #FAFF00;
    background-color: black;
    border: none;
    padding: 12px 20px;
    border-top-right-radius: 12px;
}
/*movers section sytling*/
#sectMovers{
    background-color: rgb(233, 230, 230);
    padding: 50px 50px 30px 50px;
    margin-bottom: 40px;
    margin-top: 30px;
}
h2{
    font-size: 38px;
    margin: 0 0 100px 150px;
}
.movers{
    margin-left: 150px;
}

.row-1{
    display: flex;
}
.row-2{
    display: flex;
}
.movers img{
    width: 300px;
    height: 300px;
    padding: 10px;
}
div.desc {
    padding: 15px;
    text-align: left;
  }